---
import projects from "../collections/projects.json";
import PageHeading from "../components/page-heading.astro";
import Project from "../components/project.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="My Projects">
  <section class="relative z-20 mx-auto my-12 max-w-2xl px-7 lg:px-0">
    <PageHeading
      title="My Projects"
      description="Here are some of the current projects I've been working on. They include both projects I've done for clients and personal projects that I work on my free time."
    />

    <div
      class="z-50 my-8 grid w-full grid-cols-1 items-stretch gap-7 sm:grid-cols-2 sm:gap-5"
    >
      {
        projects.map((project) => {
          return (
            <Project
              name={project.name}
              description={project.description}
              uses={project.uses}
              image={project.image}
              url={project.url}
            />
          );
        })
      }
    </div>
  </section>
</Layout>
