---
import projects from "../../collections/projects.json";
import Button from "../button.astro";
import Project from "../project.astro";
---

<section class="mx-auto max-w-4xl px-7 lg:px-0">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    My Projects
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    Here are some of my recent projects. I'm always working on something new, so
    check back often!
  </p>
  <div
    class="mt-7 grid w-full grid-cols-1 items-stretch gap-7 sm:grid-cols-2 md:grid-cols-3"
  >
    {
      projects.map((project) => {
        return (
          <Project
            name={project.name}
            description={project.description}
            uses={project.uses}
            image={project.image}
            url={project.url}
          />
        );
      })
    }
  </div>

  <div class="flex w-full items-center justify-center py-5">
    <Button
      text="View All My Projects"
      link="/projects"
    />
  </div>
</section>
