---
const { logo, dates, role, company, description } = Astro.props;
---

<div class="relative flex flex-col justify-start pl-12">
  <div
    class="absolute left-0 top-0 z-40 flex h-14 w-14 -translate-x-1/2 items-center justify-center rounded-full border border-neutral-300 bg-white dark:border-neutral-700 dark:bg-neutral-950"
  >
    <img
      src={logo}
      alt={company}
      class="h-8 w-8"
    />
  </div>

  <p
    class="trackign-widest text-xs uppercase text-neutral-400 dark:text-neutral-500"
  >
    {dates}
  </p>
  <h3 class="my-1 text-lg font-bold dark:text-neutral-100">{role}</h3>
  <p class="mb-1 text-sm font-medium dark:text-neutral-300">{company}</p>
  <p class="text-sm font-light text-neutral-600 dark:text-neutral-400">
    {description}
  </p>
</div>
